p{
    color: red;
    /* font-weight: bold; */
}
table{
    border: 1px solid black;
    border-collapse:separate;
    margin-left: 150px;

}
td{
    border: 1px solid black;
    border-collapse: collapse;
    width:200px;
    height: 20px;
    padding: 25px;
    text-align: center;
}
th{
    border: 1px solid black;
    width: 200px;
    height: 20px;
    padding: 25px;
    text-align: center;
    
}
legend{
    margin-left: 500px;
}
